@media (min-width: 768px) {
  
  .buttom-divider {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 2px #e6f1f0 solid;
    gap: 60px;
  }

 .item-wrap{
  width: 100%;

  }

}


* {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

body {
    font-family: "proxima-nova";
    background-color: #E6F1F0; 
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrap {
  overflow: auto;
}

section {
    padding: 5%;
}

h1{
    font-size: 63px;
    color: #1A424B;

    }

h2{
    font-size: 48px;
    color: #1A424B;
    text-align: left;
    margin-bottom: 20px;
}

h3{
    font-size: 18px;
    color: #1A424B;
 }

 h4 {
  color: #1A424B;

 }

 p {
    color: #1A424B;
    font-size: 15px;
 }

 .main-wrap {
    display: flex;
    position: relative;
    background-color: white;
    max-width: 1200px;

 }

 .btn-yellow{
    background-color: #FCE977;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #1A424B;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    width: fit-content;
  }

  /* Nu kommer reviews style  */
  .reviews_container{
    display: flex;
    width:auto ;
    gap: 50px;
    justify-content: space-evenly;
}

.reviews_box{
background-color: #1A444D;
width: 50%;
}

.style_reviews{
    display: flex;
    align-items: center;
}
.style_name_education{
    padding-left: 10px;
}

#reviews_img{
width: 120px;
height: 120px;
border-radius: 100%;
}
.reviews_education{
color: #FFFFFF;
}
.reviews_message{
color: #FFFFFF;
}

.reviews_name{
color: #FFFFFF;
font-weight: bold;
}
.reviews_titel{
color: #CAE4E3;
font-weight: bold;
}

.btn-wrap{
 display: flex;
 justify-content: end;
 gap: 20px;
padding-top: 15px;
}

.btn-div{
   background-color: #CAE4E3;
   width: 50px;
   height: 50px;
   color:#1A444D;
   align-content: center;
 font-size: 50px;
}
.carousel-btn {
    background: none;
    border: none;
    cursor: pointer;
    border-style: none;
  }
.btn-div:hover{
    background-color: #FCE977;
}
.reviews_container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  .reviews_wrapper {
    display: flex;
    transition: transform 0.5s ease;
    gap: 40px;
  }

  .reviews_box {
    box-sizing: border-box;
    padding: 20px;
  }

  .carousel-enter-active, .carousel-leave-active {
    transition: opacity 0.5s;
  }
  .carousel-enter, .carousel-leave-to /* .carousel-leave-active in <2.1.8 */ {
    opacity: 0;
  }
 /* Nu slutter reviews style  */

 /*Tjekliste*/
 #tjekliste-baggrund {
  background-image: url("../assets/img/tjekliste.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right;

}

.italic {
  font-style: italic;
}

.checkbox-class {
  display: flex;
}

.flex-tjekliste {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 900px;
}

.semester-opdeling {
  margin: 20px 150px 20px 100px;
  display: flex;
  flex-direction: column;
}

.flex-overordnet {
  display: flex;
  justify-content: center;
}

.check-img {
  margin-right: 6px;
}


 /* FORSIDE */

 .buttom-divider {
    display: flex;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 2px #e6f1f0 solid;
    gap: 60px;
  }
  
  .buttom-divider-width{
    width: 50%;
  }

  .list {
    display: flex;
}

.list img {
    margin-right: 10px;
}

.blue-card {
    background-color: #daeced;
    padding: 20px;
  }

.green-card {
  background-color: #00454E;
  padding: 20px;
}

.green-card p {
  color: white;
}

.green-card h3 {
  color: white;
}

/*Bokse på forsiden*/

.info-box {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info-banner {
  background-image: url("../assets/img/event-billedet.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 182px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info-banner p {
  color: white;
  font-size: 40px;
  font-weight: bolder;
}



.info-green-box {
  background-color: #66B7B1;
  width: 57px;
  height: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-green-box img {
  width: 40%;
  height: 40%;
}

/*Uddannelsens opbygning*/


.semester-wrap_uo {
  margin-top: 10px;
  width: 100%;
}

.answer_uo {
    background-color: #DAECED;
}

.dropdown-wrap_uo {
  margin-top: 5px;
  width: 100%;
}

.semester-inner-wrap {
    display: flex;
    justify-content: space-between;
}

.semester-inner-wrap img {
    margin-left: 10px;
}

.semester_uo {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #DAECED;
  border: #00454E solid 2px;
  width: 100%;
}

.dropdown_uo {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #DAECED;
}

.answer_uo {
  padding: 0px 15px 15px 15px;
}

.box_uo {
    width: 25px;
    height: 25px;
    border: solid;
    border-color: #00454E;
}

.oversigt_uo  p {
    margin-left: 10px;
}

.oversigt_uo {
    display: flex;
}


.box_uo_moerk {
    background-color: #00454E;
}

.box_uo_lys {
    background-color: #DAECED;
}

.flex_uo {
    display: flex;
}

@media screen and (max-width: 880px) { 

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

#info-banner p {
  font-size: 30px;
}

p {
  font-size: 13px;
  line-height: 20px;
}

.buttom-divider {
  gap: 30px;
}
  
}

@media screen and (max-width: 855px) {  

  .buttom-divider {
    flex-direction: column;
  }

  .buttom-divider-width {
    width: 100%;
    box-sizing: border-box;
  }

}

