* {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

@font-face {
    font-family: 'Proxima Nova Alt';
    src: url('../assets/fonts/ProximaNovaA-Regular.woff') format('woff');
}

body {
    font-family: 'Proxima Nova Alt';
}

section {
    padding: 5%;
}

h1{
    font-size: 63px;
    }

h2{
    font-size: 48px;
    color: #1A424B;
    text-align: left;
    margin-bottom: 20px;
}

h3{
    font-size: 18px;
 }

 p {
    color: #1A424B;
    font-size: 15px;
 }

 .main-wrap {
    display: flex;
    position: relative;
 }

 .btn-yellow{
    background-color: #FCE977;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #1A424B;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    width: fit-content;
  }

  /* Nu kommer reviews style  */
.reviews_container{
    display: flex;
    width:auto ;
    gap: 50px;
    justify-content: space-evenly;
}

.reviews_box{
background-color: #1A444D;
width: 500px;
}

.style_reviews{
    display: flex;
    align-items: center;
}
.style_name_education{
    padding-left: 10px;
}

.style_titel_message{
padding-left: 15px;
}

#reviews_img{
width: 120px;
height: 120px;
border-radius: 100%;
padding-left: 15px;
padding-top: 15px;
}
.reviews_education{
color: #FFFFFF;
}
.reviews_message{
color: #FFFFFF;
}

.reviews_name{
color: #FFFFFF;
font-weight: bold;
}
.reviews_titel{
color: #CAE4E3;
font-weight: bold;
}

.btn-wrap{
 display: flex;
 justify-content: end;
 gap: 20px;
padding-top: 15px;

}

.carousel-btn{
    border-style: none;
}

.btn-div{
   background-color: #CAE4E3;
   width: 50px;
   height: 50px;
   color:#1A444D;
   align-content: center;
 font-size: 50px;
}

.btn-div:hover{
    background-color: #FCE977;
}
 /* Nu slutter reviews style  */


 /* FORSIDE */

 .buttom-divider {
    display: flex;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 2px #e6f1f0 solid;
    gap: 60px;
  }
  
  .buttom-divider div {
    width: 50%;
  }